@media screen and (min-width: 768px) {
body {
	width: 67%;
	margin: auto;
}
}

@media screen and (min-width: 481px) and (max-width: 767px) {
body {
	width: 80%;
	margin: auto;
}
}

.audioplayer {
	display:inline-block;
	width: 100%;
	height: 60px;
	margin: 20px auto 40px auto;
	border: solid;
}

#audio-players h3 {
	text-align: center;
	margin: 10px auto -10px auto;
	
}

.playbutton {
	width: 60px;
	height: 60px;
	border: none;
	outline: none;
	cursor:pointer;
}

.play {
	background: url(../images/play.png);
}

.pause {
	background: url(../images/pause.png);
}

.play,
.pause {
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.timeline {
	height: auto;
	margin: -45px 35px auto 75px;
	border-radius: 15px;
	background: rgba(0, 0, 0, .3);
}

.playhead {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0, 1);
	cursor: pointer;
}